{{> layout/header }}

<!-- Parallax 배경 -->
<div class="parallax">
  <!-- 콘텐츠 영역 -->
  <div class="content">
    <div class="container">
      <h1 class="display-4 fw-bold">Todo List</h1>
      <p class="lead">Spring Boot (gradle) / Mybtis (mariaDB)</p>
    </div>
  </div>
</div>

<div class="parallax">
  <!-- 콘텐츠 영역 -->
  <div class="content">
    <div class="container">
      <h1 class="display-4 fw-bold">Mustache</h1>
      <p class="lead">Bootswatch (cerulean)</p>
    </div>
  </div>
</div>

<!-- 추가 콘텐츠 -->
<div class="container py-5">
  <h2>CRUD</h2>
  <p>Create / Read / Update / Delete</p>
</div>

{{> layout/footer }}